/* --------------1.title---------------- */  
#title_box{ 
  display: flex;
  width: 100%;
  height: 30vh;
  margin: auto;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1439px){
  #title_box{ 
    height: 15vh;
  }
}
/* --------------2.info---------------- */  
#info_box{
  display: flex;
  margin: 0 5.5%;
}
/* ----------left--------- */  
#info_box .info_l{
  flex: .6;
  padding-right: 4%;
  border-right: 1px solid #333;
}
#info_box .info_l li{
padding: 10px 0;
border-bottom: 1px solid #333;

display: flex;
justify-content: space-between;
text-align: center;
align-items: center;
}

/* ----------right--------- */  
#info_box .info_r{
  flex: .4;
  display: flex;
  flex-direction: column;
  padding-left: 4%;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 3%;
}
#info_box .info_r >*{
  display: block;
  width: 100%;
}
#info_box .info_r span{
  display: flex;
  flex-direction: column;
  padding-left: 4%;

  position: relative;
} 
/* 點點縮放 */
#info_box .info_r span::before{
  content: '';
  display: block;
  position: absolute;
  opacity: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: 38%;
  left: .5%;
  background-color: rgba(79, 161, 187, 0.5);
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), opacity 0.6s ease;
  animation: scaleAnimation 1s infinite;
}      
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#info_box .info_r p{
  padding-bottom: 5%;
}
#info_box .info_r .poject_btn{
display: flex;
margin-left: -1%;
}   
#info_box .info_r .poject_btn li{
  margin-right: 4%;
  margin-bottom: 5px;
  padding: 0 1.5%;
  color: #888;
}  

@media (min-width: 1024px) and (max-width: 1439px){
  #info_box .info_r {
    margin-top: 0%;
  }
  #info_box .info_r span {
    padding-left: 7%;
 }

}
@media (min-width: 768px) and (max-width: 1023px){
  #info_box {
    display: flex;
    margin: 0 5.5%;
    flex-direction: column;
  }
  #info_box .info_l {
    flex: .6;
    padding-right: 0%;
    border-right: 0px ;
  }

  #info_box .info_r {
    flex-direction: row;
    padding-left: 0%;
  }
  #info_box .info_r p {
    margin-top: 0px;
  }
  #info_box .info_r .poject_btn {
  display: flex;
  margin-left: -1.5%;
  }
  #info_box .info_r span {
    padding-left: 7%;
 }
}

/* --------------3.content section ---------------- */       
#content{
display: flex;
flex-direction: column;
padding:10vh 16% 18vh 16% ;
width: 100%;
align-items: center;
}
.playVideo{
height: 62vh;
width: 82%;
}
.mor_v{
  width: 100%;
}
.zan_v{
  width: 87.5%;
}
@media (min-width: 768px) and (max-width: 1439px){
  #content {
    padding: 5vh 5% 7vh 5%;
  }
 }

/* --------------4.gowhere ---------------- */   
#gowhere{
  padding: 0 8%;
  height: 20vh;
  border-top: 1px solid #333;

  display: flex;
}

#gowhere .prev{
  margin-right: 6%;
  padding: 0 5% 0 2%;
  justify-content: flex-start;
}
.next{
  margin-left: 6%;
  padding: 0 2% 0 5%;
  justify-content: flex-end;
}
#gowhere>*{
  flex: 1;
  display: flex;
  margin: 2.5% 0%;
  align-items: center;

}
.arrow {
  /* width: 22%; */
  width: 180px;
  transform: translateX(0);
  transition: transform 1s ease;
  padding-left: 2%;
}

#gowhere .prev .arrow {
  transform: scaleX(-1) translateX(0); /* 镜像翻转箭头 */
  transition: transform 1s ease;
}

#gowhere div:hover {
  cursor: pointer;
}
.next:hover .arrow {
  transform: translateX(30px); 
} 
#gowhere .prev:hover .arrow {
  transform: scaleX(-1) translateX(30px);  /* 向左平移20像素并镜像翻转 */
}
@media (min-width: 768px) and (max-width: 1439px){
  #gowhere {
  height: 12vh;
  }
}


/* --------------5.gotop---------------- */   
#gotop{
  display: flex;
  width: 100%;
  height: 12vh;
}
@media (min-width: 768px) and (max-width: 1439px){
  #gotop .title_2 {
  font-size: clamp(1.625rem, 4.8vw,5rem);
  }
}

/* --------------6.more_info---------------- */
#more_info{
  height: auto;
  margin: 1.5% 5.5%;

  display: flex;
  justify-items: center;
  align-items: center;
}

#more_info article:first-child{
  flex: 0.5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#more_info .double_circle{
  width: 20%;
}


#more_info article:nth-child(2){
  flex: 0.6;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#more_info .info{
  height: 185px;  
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 2%;
}
#more_info span:after{
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  right: 0;
  background: linear-gradient(to right,rgba(51, 51, 51,0) 30% , rgba(51, 51, 51,.6) 70%);
}

#more_info .info a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#more_info .s1,
#more_info .s2,
#more_info .s3,
#more_info .s4,
#more_info .s5,
#more_info .s6,
#more_info .s7{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .7;
  z-index: -2;
  filter:grayscale(1);
  transition: filter 0.3s linear;
}

#more_info .info h1{
  padding-right: 5%;
  color: #fff;
  transform: translateX(140%);
  transition: transform 0.8s cubic-bezier(.62,.27,.68,.95) .2s;
}
#more_info .info small{
  color: #fff;
}

#more_info .info:hover span{
  filter:grayscale(0);
}
#more_info .info:hover h1{
  transform: translateX(0);
}
/* ----------背景圖片--------- */
#more_info .s1{
 background: url("../img/index/morlist.page.png") no-repeat  center ;
 background-size: cover;
}
#more_info .s2{
 background: url("../img/index/flower.page.png")  no-repeat  center  ;
 background-size: cover;
}
#more_info .s3{
  background: url("../img/index/rain.page.png")  no-repeat  center  ;
 background-size: cover; 
}
#more_info .s4{
  background: url("../img/index/bloom.page.png")  no-repeat  center  ;
 background-size: cover; 
}
#more_info .s5{
  background: url("../img/index/bluetear.page.png")  no-repeat  center  ;
 background-size: cover; 
}
#more_info .s6{
  background: url("../img/index/samara.page.png")  no-repeat  center  ;
 background-size: cover; 
}
#more_info .s7{
  background: url("../img/index/zangan.page.png")  no-repeat  center  ;
 background-size: cover; 
}


@media (min-width: 768px) and (max-width: 1439px){
  #more_info article:first-child {
    justify-content: flex-start;
 }
  #more_info .double_circle::before,
  #more_info .double_circle::after {
    width: 178px;
    height: 76px;
  transform: rotate(-30deg) translateY(31px) translateX(-42%);
 }
 #more_info .double_circle::after {
  transform: rotate(-30deg) translateY(-11px) translateX(-21%);
 }
 #more_info .info {
  height: 150px;
} 
}
